<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
        http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

	<!-- Mapping de URL -->
	<bean id="urlMapping" class="net.agweb.web.CustomControllerClassNameHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="localeChangeInterceptor" />
				<ref bean="valangInterceptor" />
			</list>
		</property>
	</bean>

	<!-- View resolver -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.JstlView</value>
		</property>
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
			</map>
		</property>
	</bean>

	<!-- i18n -->
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale">
			<value>es_AR</value>
		</property>
	</bean>
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>/WEB-INF/i18n/mensajes</value>
				<value>/WEB-INF/i18n/errores</value>
				<value>/WEB-INF/i18n/formatos</value>
				<value>/WEB-INF/i18n/enumerados</value>
			</list>
		</property>
		<property name="cacheSeconds" value="120" />
	</bean>

	<bean id="customDateEditor"
		class="org.springframework.beans.propertyeditors.CustomDateEditor">
		<constructor-arg index="0">
			<bean class="java.text.SimpleDateFormat">
				<constructor-arg index="0" value="dd/MM/yyyy" />
			</bean>
		</constructor-arg>
		<constructor-arg index="1" value="true" />
	</bean>

	<!-- Interceptores -->
	<bean id="localeChangeInterceptor"
		class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<property name="paramName" value="siteLanguage" />
	</bean>
	<bean id="valangInterceptor"
		class="org.springmodules.validation.valang.javascript.taglib.ValangRulesExportInterceptor" />

	<!-- Home -->
	<bean name="home" class="net.agweb.web.fg.home.IndexController" />
	<bean name="applet" class="net.agweb.web.fg.home.AppletController" />
	<bean name="login" class="net.agweb.web.fg.usuarios.LoginController">
	</bean>
	
	

</beans> 
		
